.vertical-nav {
	min-width: 250px;
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 0.4s;
	background-color: #4caf50;
}
#sidebar{
	background-color: #ceffce;
	border-right: 3px solid #595959;
}
#sidenavToogle{
	color: #f1f1f1;
	font-size: x-large;
	margin: 2px 5px;border:1px solid #f1f1f1;
}
.nav-item{
	font-weight: bold;
}
.page-content {
	width: calc(100% - 250px);
	margin-left: 250px;
	transition: all 0.4s;
}
#sidebar.active {
	margin-left: -250px;
}
#content.active {
	width: 100%;
	margin: 0;
}
@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0;
	}
	#content {
		width: 100%;
		margin: 0;
	}
	#content.active {
		margin-left: 250px;
		width: calc(100% - 250px);
	}
}
body {
	background: #f1f1f1;
	color: #595959;
	min-height: 100px;
	overflow-x: hidden;
}
header{
	width: 100%;
	background-color: #4caf50;
}
.separator {
	margin: 3rem 0;
	border-bottom: 1px dashed #fff;
}
.text-uppercase {
	letter-spacing: 0.1em;
}
.text-gray {
	color: #aaa;
}
footer.footer{
	border:1px solid red;
	background-color: #4caf50;
	position:fixed;
	bottom: 0px;
	width: 100%;
	font-size: medium;
	font-weight: bold;
	text-align: center;
	color: white;
	padding: 20px;
}