body{
	width: 100%;
	font-family: "calibri";
	padding: 5px 0px;
	margin-top: 0px;
	background-color: #f7f7f7;
}
#header{
	width: 100%;
	margin-top: 0px;
	background-color: orange;
	height: 60px;
	padding: 5px;
	border-bottom: 2px solid orange;
}
#org{
	width: 50%;
}
#org h1{
	font-weight: bolder;
	float: left;
	color: orange;
}
#org img{
	float: left;
	max-height: 70px;
}

#menu{
	font-weight: bolder;
	float: right;
	width: 50%;
	text-align: center;
	padding: 2px;
	margin: 10px;
}
#menu a{
	display: inline-block;
	width: 20%;
	background-color: #f7f7f7;
	color: orange;
	font-size: x-large;
	padding: 3px;
	text-decoration: none;
	border: 2px solid #575757;
	border-radius: 3px;
}
#content{
	width: 100%;
	background-color: #f7f7f7;
}
#footer{
	background-color: orange;
	position:fixed;
	bottom: 0px;
	width: 100%;
	font-size: large;
	text-align: center;
	color: white;
	padding: 20px;

}

@media screen and (max-width:299px) and (min-width: 200px){
	#menu a{
	display: inline-block;
	width: 16%;
	background-color: #f7f7f7;
	color: #019950;
	font-size: 10px;
	padding: 3px;
	text-decoration: none;
	border: 2px solid #019950;
}
@media screen and (max-width:499px) and (min-width: 300px){
	#menu a{
	display: inline-block;
	width: 16%;
	background-color: #f7f7f7;
	color: #019950;
	font-size: 20px;
	padding: 2px;
	text-decoration: none;
	border: 2px solid #019950;
}
}
#slideshow
{
	display: block;

}
#slideshow img{
	width: 400px;
}