table{
	margin-bottom: 300px;
}
.footer{
	background-color: #4caf50;
	position:fixed;
	bottom: 0px;
	width: 100%;
	font-size: medium;
	font-weight: bold;
	text-align: center;
	color: white;
	padding: 20px;
}
.vertical-nav {
	min-width: 250px;
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
	transition: all 0.4s;
	background-color: #4caf50;
}
#sidebar{
	background-color: #ceffce;
	border-right: 3px solid #595959;
}
#sidenavToogle{
	color: #f1f1f1;
	font-size: x-large;
	margin: 2px 5px;border:1px solid #f1f1f1;
}
.nav-item a{
	font-weight: bold;
	color: #575757;
}
.page-content {
	width: calc(100% - 250px);
	margin-left: 250px;
	transition: all 0.4s;
}
#sidebar.active {
	margin-left: -250px;
}
#content.active {
	width: 100%;
	margin: 0;
}
@media (max-width: 768px) {
	#sidebar {
		margin-left: -250px;
	}
	#sidebar.active {
		margin-left: 0;
	}
	#content {
		width: 100%;
		margin: 0;
	}
	#content.active {
		margin-left: 250px;
		width: calc(100% - 250px);
	}
}
body {

	background-color: #e9e9e9;;
	color: #595959;
	min-height: 100px;
	overflow-x: hidden;
}
header{
	width: 100%;
	background-color: #4caf50;
}
.separator {
	margin: 3rem 0;
	border-bottom: 1px dashed #fff;
}
.text-uppercase {
	letter-spacing: 0.1em;
}
.text-gray {
	color: #aaa;
}
.modal-body > form > fieldset > legend{
	border-top: 1px solid #4caf50;color: #4caf50;
	font-size: large;
	font-weight: bold;text-align: center;
	margin: 0px;
	padding: 0px;
}
.warn{
	color: red;
	font-size: small;
	display: none;
}
fieldset div.row div{
	text-align: center;
	padding: 0px 4px;margin: 2px 0px;
}
div.row div label{
	font-size: medium;font-weight: bold;
	padding: 0px 4px;margin: 0px;
}